# frontend configuration 
FRONTEND_URL=http://localhost:5173

# server configuration
PORT=3000

# database configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# jwt configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d

# SMTP configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=no-reply@terrano.com
